/* Sidebar */
.sidebar {
    min-height: 100vh;
    background-color: #343a40;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%; /* bạn chỉnh tùy thích */
}

.product-card img {
    height: 430px;   /* có thể chỉnh nhỏ hơn để phù hợp */
    object-fit: cover;
    width: 100%;
}