  body {
            background: #f4f6f9;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-box {
            width: 420px;
            padding: 35px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }

        .btn-custom {
            background: #28a745;
            color: white;
            font-weight: 600;
            padding: 10px;
        }

        .btn-custom:hover {
            background: #1e7e34;
        }

        h3 {
            font-weight: 600;
        }